<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Double Header Example</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div th:fragment="userSideBar">
    <div class="top-header">
        <div class="container">
            <div class="logo">
                <img src="/img/nic.png" alt="Logo" height="50">
                <img src="/img/forest.jpg" alt="Logo" height="50">
                <img src="/img/logo.jpg" alt="Logo" height="50">
            </div>
            <div class="welcome-message">
                Welcome to Our Service!
            </div>
        </div>
    </div>

    <!-- Main Header -->
    <header class="main-header">
        <div class="container header-container">
            <nav class="main-nav">
                <ul>
                    <li><a th:href="@{/userpage}">Home</a></li>
                    <li><a th:href="@{/getBookings}">Bookings</a></li>
                    <li><a th:href="@{/userDetails}">Profile</a></li>
                </ul>
            </nav>
            <form th:action="@{/logout}" method="post" class="form-inline">
                <input type="submit" class="btn btn-danger" value="Logout"/>
            </form>
        </div>
    </header>
</div>
<script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
</body>
</html>
