<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Establishment Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="static/bootstrap/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/view.css">
</head>
<body>
<!--<div th:replace="fragments/adminNavBar :: adminNavBar"></div>-->
<div th:replace="fragments/adminSideBar :: sidebar"></div>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Establishment Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/adminpage}">Home</a><li class="breadcrumb-item"><a th:href="@{/establishments}">Establishments</a></li>
                <li class="breadcrumb-item active">Establishment Profile</li>
            </ol>
        </nav>
    </div>
    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <div class="mt-4">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-header">
                                        <h1 class="text-center">Establishment Profile</h1>
                                    </div>
                                    <div class="card-body text-center">
                                        <img th:src="@{/establishments/user/{establishmentId}(establishmentId=${establishment.establishmentId})}" alt="Profile Image" class="profile-image img-fluid">
                                        <form id="editForm" th:action="@{/establishments/update/{id}(id=${establishment.establishmentId})}" th:object="${establishment}" method="POST">
                                            <input type="hidden" name="establishmentId" th:value="${establishment.establishmentId}" />
                                            <div class="profile-details">
                                                <p class="profile-field">Entered On: <span th:text="${establishment.enteredOn}"></span></p>
                                                <p class="profile-field">Entered By: <span th:text="${establishment.enteredBy}"></span></p>
                                                <p class="profile-field">Village: <span th:text="${establishment.village.villageName}"></span></p>
                                                <p class="profile-field">Status: <span th:classappend="${establishment.status} ? 'badge badge-success' : 'badge badge-danger'" th:text="${establishment.status} ? 'Active' : 'Inactive'"></span></p>
                                                <p class="profile-field">Name: <input type="text" name="name" th:value="${establishment.name}" readonly pattern="[A-Za-z\s]+" title="Please enter letters only." /></p>
                                                <p class="profile-field">Address: <input type="text" name="address" th:value="${establishment.address}" readonly pattern="[A-Za-z\s]+" title="Please enter letters only." /></p>
                                                <p class="profile-field">Opening Time: <input type="time" name="openingTime" th:value="${establishment.openingTime}" readonly /></p>
                                                <p class="profile-field">Closing Time: <input type="time" name="closingTime" th:value="${establishment.closingTime}" readonly /></p>
                                            </div>
                                            <button type="submit" id="saveButton" class="btn btn-primary save-button" style="display: none;">Save</button>
                                            <button type="button" id="editButton" class="btn btn-secondary edit-button">Edit</button>
                                            <div class="text-center mt-3">
                                                <button type="button" class="btn btn-info" onclick="addNonWorkingDates()">Add Non-Working Days</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">Fees Table</h5>
                                    </div>
                                    <div class="card-body entry-fees-table-container">
                                        <i class="bi bi-plus-circle btn btn-success" onclick="showAddEntryFeeModal()" title="Add Entry Fee"></i>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>NATIONALITY</th>
                                                    <th>CATEGORY</th>
                                                    <th>FEE</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <th:block th:if="${#lists.isEmpty(establishment.fees)}">
                                                    <tr>
                                                        <td colspan="4" class="text-center">No fees added, add at least one to make establishment active</td>
                                                    </tr>
                                                </th:block>
                                                <tr th:each="fee : ${establishment.fees}" th:data-fees-id="${fee.feesId}">
                                                    <td th:text="${fee.getNationality().getNationalityType()}"></td>
                                                    <td th:text="${fee.getCategory().getCategoryName()}"></td>
                                                    <td th:text="${fee.entryFee}" readonly></td>
                                                    <td>
                                                        <i class="bi bi-pencil-square btn btn-primary edit-entry-fee" onclick="editEntryFee(${fee.feesId})" title="Edit"></i>
                                                        <i class="bi bi-trash btn btn-danger" onclick="confirmDeleteEntryFee(event, ${fee.feesId})" title="Delete"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        <h5 class="mb-0">Other Fees Table</h5>
                                    </div>
                                    <div class="card-body other-fees-table-container">
                                        <i class="bi bi-plus-circle btn btn-success" onclick="showAddOtherFeeModal()" title="Add Other Fee"></i>
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>Other Fees Type</th>
                                                    <th>Fees</th>
                                                    <th>Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <th:block th:if="${#lists.isEmpty(otherFees)}">
                                                    <tr>
                                                        <td colspan="3" class="text-center">Other fees are not added</td>
                                                    </tr>
                                                </th:block>
                                                <tr th:each="otherFee : ${otherFees}" th:data-other-fees-id="${otherFee.otherFeesId}">
                                                    <td th:text="${otherFee.feesType}" readonly></td>
                                                    <td th:text="${otherFee.fees}" readonly></td>
                                                    <td>
                                                        <i class="bi bi-pencil-square btn btn-primary edit-other-fee" onclick="editOtherFee(${otherFee.otherFeesId})" title="Edit"></i>
                                                        <i class="bi bi-trash btn btn-danger" onclick="confirmDeleteOtherFee(event, ${otherFee.otherFeesId})" title="Delete"></i>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer id="footer" class="footer text-center">
    <img class="footer-logo" src="/img/nic2.png" alt="NIC Logo">
    <div class="copyright">
        &copy; Copyright <strong><span>NIC</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a>NIC</a>
    </div>
</footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Entry Fee Edit Modal -->
<div class="modal fade" id="entryFeeModal" tabindex="-1" role="dialog" aria-labelledby="entryFeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="entryFeeModalLabel">Edit Entry Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="entryFeeEditForm" method="POST" th:action="@{/establishments/updateEntryFees}">
                    <div class="form-group">
                        <label for="entryFeeValue">Fee</label>
                        <input type="number" class="form-control" id="entryFeeValue" name="entryFee" min="1" required>
                    </div>
                    <input type="hidden" name="feesId" id="feesIdInput">
                    <input type="hidden" name="establishmentId" th:value="${establishment.establishmentId}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" onclick="saveEntryFeeChanges()">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Other Fees Edit Modal -->
<div class="modal fade" id="otherFeeModal" tabindex="-1" role="dialog" aria-labelledby="otherFeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="otherFeeModalLabel">Edit Other Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="otherFeeEditForm" th:action="@{/establishments/updateOtherFees}" method="POST">
                    <div class="form-group">
                        <label for="otherFeeType">Other Fees Type</label>
                        <input type="text" class="form-control" id="otherFeeType" name="feesType" pattern="[A-Za-z\s]+" title="Please enter letters only.">
                    </div>
                    <div class="form-group">
                        <label for="otherFeeValue">Fees</label>
                        <input type="number" class="form-control" id="otherFeeValue" name="fees" min="1" required>
                    </div>
                    <input type="hidden" name="otherFeesId" id="otherFeesIdInput">
                    <input type="hidden" name="establishmentId" th:value="${establishment.establishmentId}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Other Fee Modal -->
<div class="modal fade" id="addOtherFeeModal" tabindex="-1" role="dialog" aria-labelledby="addOtherFeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOtherFeeModalLabel">Add Other Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addOtherFeeForm" th:action="@{/addOtherFees}" method="POST">
                    <div class="form-group">
                        <label for="newFeesType">Fees Type<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="newFeesType" name="feesType" placeholder="Enter Fees Type"  pattern="[A-Za-z\s]+" title="Please enter letters only.">
                    </div>
                    <div class="form-group">
                        <label for="newFees">Fees<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="newFees" name="fees" min="1" placeholder="Enter  Fees" required>
                    </div>
                    <input type="hidden" name="establishmentId" th:value="${establishment.establishmentId}">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Fee</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add Entry Fee Modal -->
<div class="modal fade" id="addEntryFeeModal" tabindex="-1" role="dialog" aria-labelledby="addEntryFeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEntryFeeModalLabel">Add Entry Fee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addEntryFeeForm" th:action="@{/establishments/addEntryFees}" method="POST">
                    <input type="hidden" name="establishmentId" th:value="${establishment.establishmentId}">
                    <div class="form-group">
                        <label for="nationality">Nationality<span class="text-danger">*</span></label>
                        <select class="form-control" id="nationality" name="nationality" required>
                            <option value="" disabled selected>Select nationality</option>
                            <option th:each="nationality : ${nationalities}" th:value="${nationality.nationalityId}" th:text="${nationality.nationalityType}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category">Category<span class="text-danger">*</span></label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="" disabled selected>Select category</option>
                            <option th:each="category : ${categories}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="entryFeeValue">Entry Fee<span class="text-danger">*</span></label>
                        <input type="number" class="form-control" id="entryFee" name="entryFee" min="1" placeholder="Enter Entry Fees" required>
                    </div>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Entry Fee</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>

    // Function for going into nonWorking days adding page
    function addNonWorkingDates() {
        // Retrieve establishment ID from the input field
        var establishmentId = extractEstablishmentIdFromHTML();

        // Show SweetAlert confirmation
        Swal.fire({
            title: 'Add Non-Working Days',
            text: 'Do you want to add non-working dates?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, add dates'
        }).then((result) => {
            if (result.isConfirmed) {
                // Redirect to the "Add Non-Working Dates" page
                window.location.href = '/establishments/nonworkingdates?id=' + establishmentId;
            } else {
                // If the user clicks "No", keep the establishment active
                updateEstablishmentStatus(establishmentId, 'Active');
            }
        });
    }

    function updateEstablishmentStatus(establishmentId, status) {
        $.ajax({
            url: '/updateStatus/' + establishmentId,
            type: 'POST',
            data: {status: status},
            success: function (response) {
                console.log('Status updated successfully:', response);
            },
            error: function (xhr, status, error) {
                console.error('Error updating status:', xhr.responseText);
            }
        });
    }

    // Extract establishment ID from the hidden input field
    function extractEstablishmentIdFromHTML() {
        var establishmentIdInput = document.querySelector('input[name="establishmentId"]');
        return establishmentIdInput ? establishmentIdInput.value : null;
    }

    // For last edit button toggle to show save and cancel edit button
    document.getElementById("editButton").addEventListener("click", function () {
        var fieldsToEdit = document.querySelectorAll("input[name='name'], input[name='address'], input[name='openingTime'], input[name='closingTime']");
        var saveButton = document.getElementById("saveButton");

        if (this.textContent === "Edit") {
            for (var i = 0; i < fieldsToEdit.length; i++) {
                fieldsToEdit[i].removeAttribute("readonly");
            }
            saveButton.style.display = "inline-block";
            this.textContent = "Cancel edit";
        } else {
            for (var i = 0; i < fieldsToEdit.length; i++) {
                fieldsToEdit[i].setAttribute("readonly", true);
            }
            saveButton.style.display = "none";
            this.textContent = "Edit";
        }
    });

    document.getElementById("saveButton").addEventListener("click", function (event) {
        event.preventDefault();
        Swal.fire({
            title: "Confirm updates?",
            showCancelButton: true,
            confirmButtonText: "Confirm",
            cancelButtonText: "Cancel"
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById("editForm").submit();
            }
        });
    });

    // For saving the edited other fees on the server
    $(document).ready(function () {
        // Add event listeners to Edit buttons in the other fees table
        $('.edit-other-fee').on('click', function () {
            var row = $(this).closest('tr');
            var otherFeesId = row.data('other-fees-id');
            var feesType = row.find('td:eq(0)').text();
            var fees = row.find('td:eq(1)').text();

            // Set the values in the modal inputs
            $('#otherFeeModal #otherFeeType').val(feesType);
            $('#otherFeeModal #otherFeeValue').val(fees);
            $('#otherFeeModal #otherFeesIdInput').val(otherFeesId);

            // Show the modal
            $('#otherFeeModal').modal('show');
        });
    });
    // To show the entry fees modal
    $(document).ready(function () {
        $('.edit-entry-fee').on('click', function () {
            $('#entryFeeModal').modal('show');
        });
    });

    // To show other fees add button modal
    function showAddOtherFeeModal() {
        $('#addOtherFeeModal').modal('show');
    }

    function showAddEntryFeeModal() {
        $('#addEntryFeeModal').modal('show');
    }

    // To update the entry fees
    $(document).ready(function () {
        $('.edit-entry-fee').on('click', function () {
            var row = $(this).closest('tr');
            var feesId = row.data('fees-id');
            var entryFee = row.find('td:eq(2)').text();
            // Set the values in the modal inputs
            $('#entryFeeModal #entryFeeValue').val(entryFee);
            $('#entryFeeModal #feesIdInput').val(feesId);
            // Show the modal
            $('#entryFeeModal').modal('show');
        });
    });
    // Check combination of nationality and category
    $(document).ready(function () {
        $('#nationality, #category').on('change', function () {
            var nationalityId = $('#nationality').val();
            var categoryId = $('#category').val();
            var establishmentId = $('input[name="establishmentId"]').val();  // Assuming there is an input field in your form with this name

            if (nationalityId && categoryId) {
                checkCombinationExists(establishmentId, nationalityId, categoryId);
            }
        });

        function checkCombinationExists(establishmentId, nationalityId, categoryId) {
            $.ajax({
                url: '/establishments/checkCombinationExists',
                type: 'GET',
                data: {
                    establishmentId: establishmentId,
                    nationalityId: nationalityId,
                    categoryId: categoryId
                },
                success: function (response) {
                    if (response.exists) {
                        Swal.fire({
                            title: "Error",
                            text: "Selected combination already exists. Please select another combination.",
                            icon: "error",
                            confirmButtonText: "Ok"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Reset the fields to select new options
                                $('#nationality').val('');
                                $('#category').val('');
                            }
                        });
                    }
                },
                error: function (xhr) {
                    console.error("Error checking combination: ", xhr.responseText);
                }
            });
        }
    });

    // Function to handle the deletion of other fees
    // Function to handle the deletion of other fees
    function confirmDeleteOtherFee(event, otherFeesId) {
        event.preventDefault();
        Swal.fire({
            title: "Are you sure you want to delete this fee?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/establishments/deleteOtherFees/${otherFeesId}`,
                    type: 'GET',
                    success: function (response) {
                        Swal.fire('Deleted!', 'The fee has been deleted', 'success')
                            .then((result) => {
                                if (result.isConfirmed) {
                                    // Remove the row from the table
                                    $('tr[data-other-fees-id="' + otherFeesId + '"]').remove();
                                }
                            });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Error!', 'Failed to delete the fee: ' + error, 'error');
                    }
                });
            }
        });
    }
    // Attach the delete event listener for other fees
    $(document).ready(function() {
        $('.other-fees-table-container').on('click', '.btn-danger', function(event) {
            var otherFeesId = $(this).closest('tr').data('other-fees-id');
            confirmDeleteOtherFee(event, otherFeesId);
        });
    });

    // Function to handle the deletion of entry fees
    function confirmDeleteEntryFee(event, feesId) {
        event.preventDefault();
        Swal.fire({
            title: "Are you sure you want to delete this fee?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: `/establishments/deleteFees/${feesId}`,
                    type: 'GET',
                    success: function (response) {
                        Swal.fire('Deleted!', 'The fee has been deleted and establishment status updated.', 'success')
                            .then((result) => {
                                if (result.isConfirmed) {
                                    location.reload(); // Reload the page to reflect changes
                                }
                            });
                    },
                    error: function(xhr, status, error) {
                        Swal.fire('Error!', 'Failed to delete the fee: ' + error, 'error');
                    }
                });
            }
        });
    }

    // Attach the delete event listener for entry fees
    $(document).ready(function() {
        $('.entry-fees-table-container').on('click', '.btn-danger', function(event) {
            var feesId = $(this).closest('tr').data('fees-id');
            confirmDeleteEntryFee(event, feesId);
        });
    });

    //For name and address field not to enter numbers
    document.addEventListener("DOMContentLoaded", function () {
        var nameInput = document.querySelector("input[name='name']");
        var addressInput = document.querySelector("input[name='address']");

        // Function to restrict characters
        function restrictCharacters(event) {
            var keyCode = event.which || event.keyCode;
            // Allow control keys and space (space keyCode is 32)
            if (keyCode === 32 || keyCode === 8 || keyCode === 9 || keyCode === 46 || (keyCode >= 37 && keyCode <= 40)) {
                return; // Allow space, backspace, tab, delete, and arrow keys
            }

            var character = String.fromCharCode(keyCode);
            // Regex to test if character is not a letter or space
            if (!/^[A-Za-z\s]+$/.test(character)) {
                event.preventDefault(); // Stop the character from being input
            }
        }

        // Apply the event listeners
        if (nameInput) {
            nameInput.addEventListener('keypress', restrictCharacters);
        }
        if (addressInput) {
            addressInput.addEventListener('keypress', restrictCharacters);
        }
    });

</script>
</body>
</html>
