<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Establishment Details</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/usersidenavbar.css">
    <style>
        .footer {
            background-color: #333;
            color:  white;
            padding: 20px 0;
            text-align: center;
        }
        .footer-logo img {
            max-width: 100px;
            margin-bottom: 10px;
        }
        .footer-text p {
            margin: 5px 0;
        }
    </style>
</head>
<body>
<!-- Navigation Menu -->
<div th:replace="~{fragments/userDoubleHeader :: userSideBar}"></div>

<div class="container mt-4">
    <div class="row">
        <div th:each="image : ${establishment.images}" class="col-sm-4 mb-4">
            <div class="card">
                <img th:src="@{'/images/' + ${image.imageId}}" class="card-img-top" alt="Establishment Image">
            </div>
        </div>
    </div>
</div>

<div th:if="${establishment == null}">
    <p>No establishment details found.</p>
</div>

<!-- Footer HTML -->
<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <img src="/img/nic2.png" alt="WooDY Logo">
        </div>
        <div class="footer-text">
            <p>Designed & Developed by NIC</p>
            <p>&copy; 2024 NIC. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
