<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Welcome User</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="py-4">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body py-xl-5">
                    <div class="text-center">
                        <h4 class="text-uppercase p-color">Welcome to the Officer Page</h4>
                    </div>
                    <div class="go-back-link">
                        <!-- Logout form using Thymeleaf -->
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-danger" value="Logout"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Include Bootstrap JS (popper.js included within Bootstrap) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
